<div class="small-logo"><img src="/images/logo_suit.png"/></div>
<div class="order-panel"></div>
<button ng-click="testFunction()">=====Test====</button>
<button ng-click="showRank()">=====showRank====</button>
<div class="row">
	<div class="article-row">
		<div class="class-container class-shirt" ng-repeat="item in globalArticles | filter:{ourCategory:'shirt'} | limitTo:1">
			<span class="class-title">Shirt</span>
			<img ng-src="{{item.media.images[0].mediumHdUrl}}"></img>
			<div class="class-container-cover" ng-click="updateDeleteId(item.id)">
				<div class="class-container-cover-button">No way!</div>
			</div>
		</div>
		<div class="class-container class-jacket" ng-repeat="item in globalArticles | filter:{ourCategory:'jacket'} | limitTo:1">
			<span class="class-title">Jacket</span>
			<img ng-src="{{item.media.images[0].mediumHdUrl}}"></img>
			<div class="class-container-cover" ng-click="updateDeleteId(item.id)">
				<div class="class-container-cover-button">No Chance!</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="article-row">
		<div class="class-container class-trousers" ng-repeat="item in globalArticles | filter:{ourCategory:'trousers'} | limitTo:1">
			<span class="class-title">Trousers</span>
			<img ng-src="{{item.media.images[0].mediumHdUrl}}"></img>
			<div class="class-container-cover" ng-click="updateDeleteId(item.id)">
				<div class="class-container-cover-button">Not if you paid me!</div>
			</div>
		</div>

		<div class="class-container class-accessories" ng-repeat="item in globalArticles | filter:{ourCategory:'belt'} | limitTo:1">
			<span class="class-title">Belt</span>
			<img ng-src="{{item.media.images[0].mediumHdUrl}}"></img>
			<div class="class-container-cover" ng-click="updateDeleteId(item.id)">
				<div class="class-container-cover-button">Never ever!</div>
			</div>
		</div>
	
	</div>
</div>

<div class="row">
	<div class="article-row">
		<div class="class-container class-shoes" ng-repeat="item in globalArticles | filter:{ourCategory:'shoe'} | limitTo:1">
			<span class="class-title">Shoes</span>
			<img ng-src="{{item.media.images[0].mediumHdUrl}}"></img>
			<div class="class-container-cover" ng-click="updateDeleteId(item.id)">
				<div class="class-container-cover-button">Absolutely not!</div>
			</div>
		</div>
		<div class="class-container class-socks" ng-repeat="item in globalArticles | filter:{ourCategory:'socks'} | limitTo:1">
			<span class="class-title">Socks</span>
			<img ng-src="{{item.media.images[0].mediumHdUrl}}"></img>
			<div class="class-container-cover" ng-click="updateDeleteId(item.id)">
				<div class="class-container-cover-button">No! No! No!</div>
			</div>
		</div>
	</div>
</div>
