<button ng-click="testFunction()"></button>

<div class="row">
	<div class="col-md-12">
		<div class="class-container class-accessories">
			<span class="class-title">Accessory</span>
			<img src="https://secure-i6.ztat.net//large/DI/15/2D/02/IO/12/DI152D02I-O12@5.4.jpg"></img>
			<div class="class-container-cover">
				<div class="class-container-cover-button">Never ever</div>
			</div>
		</div>
	</div>
</row>

<div class="row">
	<div class="col-md-4">
		<div class="class-container class-tie">
			<span class="class-title">Tie</span>
			<img src="https://secure-i5.ztat.net//large/T1/02/2C/01/GG/11/T1022C01G-G11@6.jpg"></img>
			<div class="class-container-cover">
				<div class="class-container-cover-button">Never</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="class-container class-shirt">
			<span class="class-title">Shirt</span>
			<img src="https://secure-i2.ztat.net//large/ZS/32/2D/02/0K/11/ZS322D020-K11@14.jpg"></img>
			<div class="class-container-cover">
				<div class="class-container-cover-button">No way!</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="class-container class-jacket">
			<span class="class-title">Jacket</span>
			<img src="https://secure-i2.ztat.net//large/GO/22/2J/01/0Q/11/GO222J010-Q11@16.jpg"></img>
			<div class="class-container-cover">
				<div class="class-container-cover-button">No Chance</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="class-container class-trousers">
			<span class="class-title">Trousers</span>
			<img src="https://secure-i5.ztat.net//large/BJ/24/2E/00/FC/11/BJ242E00F-C11@10.1.jpg"></img>
			<div class="class-container-cover">
				<div class="class-container-cover-button">Not if you paid me</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-5">
		<div class="class-container class-shoes">
			<span class="class-title">Shoes</span>
			<img src="https://secure-i1.ztat.net//large/PI/91/2A/0D/OQ/11/PI912A0DO-Q11@18.1.jpg"></img>
			<div class="class-container-cover">
				<div class="class-container-cover-button">Absolutely not</div>
			</div>
		</div>
	</div>

	<div class="col-md-5">
		<div class="class-container class-socks">
			<span class="class-title">Socks</span>
			<img src="https://secure-i2.ztat.net//large/BB/18/2F/00/7Q/11/BB182F007-Q11@2.1.jpg"></img>
			<div class="class-container-cover"></div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
